@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;

  src:
    local("Inter Regular"),
    local("Inter-Regular"),
    url("../assets/fonts/inter-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;

  src:
    local("Roboto Regular"),
    local("Roboto-Regular"),
    url("../assets/fonts/roboto-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;

  src:
    local("Lato Regular"),
    local("Lato-Regular"),
    url("../assets/fonts/lato-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;

  src:
    local("Lato Medium"),
    local("Lato-Medium"),
    url("../assets/fonts/lato-medium.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;

  src:
    local("Lato SemiBold"),
    local("Lato-SemiBold"),
    url("../assets/fonts/lato-semibold.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;

  src:
    local("Lato Bold"),
    local("Lato-Bold"),
    url("../assets/fonts/lato-bold.ttf") format("truetype");
}
